/* Milligram-Condensed — BT heading font */
@font-face {
  font-family: "Milligram-Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.bancatransilvania.ro/assets/fonts/Milligram-Condensed-Light.woff2') format('woff2');
}

@font-face {
  font-family: "Milligram-Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.bancatransilvania.ro/assets/fonts/Milligram-Condensed-Bold.woff2') format('woff2');
}

/* Inter Variable — BT body font */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://www.bancatransilvania.ro/assets/fonts/vendor/@fontsource-variable/inter/files/inter-latin-ext-wght-normal.woff2') format('woff2-variations');
}

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://www.bancatransilvania.ro/assets/fonts/vendor/@fontsource-variable/inter/files/inter-latin-wght-normal.woff2') format('woff2-variations');
}
